body{
	padding: 40px;
	font-family: Serif;
}
.white{
	color: white;
}
.icon{
	float: left;
	width: 200px;
	padding: 10px;
}
.introduction{
	color: white;
	float:left;
}
.div0{
	background: blue;
	height: 150px;
}
.div1{
	height: 200px;
	width: 100%;
	background: #ADD806;
}
.td1{
	width: 220px;
}
#map-canvas{
	height: 300px;
	width: 50%;
	float: right;
	border:#00ff00 solid thick;
}